/* .profileleft{
    background-color: cadetblue;
    height: 80vh;
    width: 60vh;
    margin-top: 30px;
    border-radius: 3rem;
    margin-left: 20px;
}
.profileright{
    background-color: black;
    height: 75vh;
    width: 90vh;
    margin-top: 30px;
    border-radius: 3rem;
}
.profilemain{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leftsmall{
    background-color: black;
   height: 25vh;
    
}
.avatarp{
    position: relative;
    left: 170px;
    top: 110px;
    
} */





.sub-card{
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 10%), 0 -3px 3px rgb(0 0 0 / 10%), 0 -4px 12px rgb(0 0 0 / 10%);
    width: 35rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: .6rem;
}
.profile-main-div{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.personal-h1{
    font-size: 2rem;
}
.personal-div{
    padding: 3rem;
}
.sub-card-h1{
    font-weight: bold;
}
.personal-sub-div1{
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 4px 12px rgb(0 0 0 / 10%), 0 -3px 3px rgb(0 0 0 / 10%), 0 -4px 12px rgb(0 0 0 / 10%);
    height: 5rem;
    width: 80rem;
    padding: 1rem;
  
}
.personal-sub-div{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}